:root {
	--yellow: rgba(255, 221, 92, 1);
	--white: rgba(255, 255, 255, 1);
	--grey: rgba(128, 128, 128, 1);
	--black: rgba(18, 18, 18, 1);
	--fs-p: 1rem;
	--fs-small: 0.875rem;
	--ff-main: "Figtree", sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	align-items: center;
	background-color: var(--yellow);
	display: flex;
	font-family: var(--ff-main);
	height: 100vh;
	justify-content: center;
	width: 100%;
}

.container {
	background-color: var(--white);
	border: 1px solid var(--black);
	border-radius: 20px;
	box-shadow: 8px 8px var(--black);
	margin: 0 auto;
	max-height: 522px;
	max-width: 384px;
	padding: 22px;
}

.main-image {
	border-radius: 10px;
}

#post-date {
	color: var(--black);
	font-family: var(--ff-main);
	font-size: var(--fs-small);
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	padding: 0 0 10px 0;
}

#tag {
	background-color: var(--yellow);
	border-radius: 5px;
	font-size: 14px;
	font-weight: 800;
	margin: 24px 0 12px 0;
	padding: 5px 10px;
	width: fit-content;
}

.main-text a {
	color: var(--black);
	font-family: var(--ff-main);
	font-size: 24px;
	font-style: normal;
	font-weight: 800;
	line-height: 150%;
	margin-bottom: 12px;
	text-decoration: none;
	transition: 0.3s ease;
}

.main-text a:hover {
	color: var(--yellow);
}

.main-text p {
	color: var(--grey);
	font-family: var(--ff-main);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0.2px;
	line-height: 150%;
	margin-bottom: 12px;
	margin-top: 12px;
}

.footer {
	align-items: center;
	display: flex;
	gap: 12px;
	justify-content: flex-start;
}

.footer img {
	height: 32px;
	width: 32px;
}

.footer p {
	color: var(--black);
	font-family: var(--ff-main);
	font-size: var(--fs-small);
	font-style: normal;
	font-weight: 800;
	line-height: 150%;
}
/* .attribution {
} */
